fastapi
uvicorn
langchain
langchain-core
langchain-community
langgraph
langchain-openai
langchain-pinecone
langchain-huggingface
#pinecone-client
pinecone
langchain-pinecone
streamlit
sentence-transformers
python-dotenv
pypdf
